<footer class="footer bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About SmartConvert</h5>
        <p>SmartConvert is your one-stop solution for all your conversion needs. We provide the best tools for converting PDFs, images, documents, and more.</p>
      </div>
      <div class="col-md-2">
        <h5>Products</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Merge PDF</a></li>
          <li><a href="#" class="text-white">Split PDF</a></li>
          <li><a href="#" class="text-white">Compress PDF</a></li>
          <li><a href="#" class="text-white">Convert PDF to Word</a></li>
          <li><a href="#" class="text-white">Convert Word to PDF</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">About Us</a></li>
          <li><a href="#" class="text-white">Careers</a></li>
          <li><a href="#" class="text-white">Blog</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Help Center</a></li>
          <li><a href="#" class="text-white">Privacy Policy</a></li>
          <li><a href="#" class="text-white">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Follow Us</h5>
        <ul class="list-unstyled d-flex">
          <li><a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" class="text-white me-3"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="#" class="text-white"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p>&copy; 2023 SmartConvert. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
